* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #00796B;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-title {
    display: inline;
    color: black;
    text-decoration: none;
    font-size: 28px;
    padding-left: 15px
}

.navbar {
    padding-top: 30px;
    padding-bottom: 15px;
    /* border-bottom: 2px solid black; */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 15px;

}

.navbar-brand {
    text-decoration: none;
}

.navbar-brand img {
    width: 35px;
    height: auto;
    padding-left: 10px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav li {
    list-style: none;
}

.navbar-nav a {
    text-decoration: none;
    color: rgb(84, 72, 72);
    margin-left: 50px;
}


.navbar-nav .last-navbar-item {
    color: black;
    margin-right: 0px;
}

/* Styling the Header */

.header {
    text-align: center;
}

.header-title {
    color: rgb(53, 35, 35);
}







.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00796B;
    padding: 10px;
    padding-top: 30px;

}

.menu-btn {
    display: none;
}

.hamburger {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.menu li {
    flex-grow: 1;
}

.menu li.others-link {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #00796B;
    padding: 10px;
    list-style: none;
    margin: 0;
    z-index: 1;
}

.menu li.others-link:hover .submenu {
    display: block;
}

.menu li a {
    display: block;
    padding: 5px;
    color: #99C9C4;
    text-decoration: none;
}

.menu li a:hover {
    /* background-color: #004D40; */
    text-decoration: underline;
    color: white;
}

.submenu li a {
    display: block;
    color: #99C9C4;
}














.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    background-color: #00796B;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
    margin-bottom: 50px;

}

.left-side {
    width: 45%;
    padding: 20px;
    background-color: #F4F4F4;
    padding-top: 40px;
    padding-bottom: 40px;

}

.right-side {
    width: 25%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: center; */

    /* justify-content: center; */
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;

}

.right-side .divWithButtons {
    margin-left: 20px;
}

.qrcode {

    width: 200px;
    height: 200px;
    align-self: center;
}

.range {
    align-self: center;
}

.qrcode img {
    width: 200px;
    height: 200px;
}

input {
    margin-bottom: 10px;
}


/* Styles for desktop view */
.links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.links .link {
    margin: 20px 30px;
    color: #99C9C4;
    text-decoration: underline;
    cursor: pointer;
}



















.enterContent {
    display: flex;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.enterContent span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #DBE4E1;
    border-radius: 5px;
}

span img {
    width: 20px;
    height: 20px;

}


.enterContent h5 {
    flex-grow: 1;
    margin: 0 10px;
}

.enterContent i {
    flex-shrink: 0;
    padding-right: 15px;
}


input[type=text],
input[type=password],input[type=url] {
    width: 100%;
    height: 36px;
}

.contentDiv {
    padding-top: 15px;
    padding-bottom: 15px;
}



.divWithButtons {
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 10px;
}


.range {
    -webkit-appearance: none;
    appearance: none;
    width: 62%;
    height: 8px;
    border-radius: 5px;
    background-color: #CFE8E1;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;

}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00796B;
    cursor: pointer;
}

.range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00796B;
    cursor: pointer;
}

.range::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00796B;
    cursor: pointer;
}


.range-labels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
    gap: 5%;

}

.px {
    color: #00796B;
    font-weight: bold;
}





.submit-btn {
    height: 35px;
    padding: 0 15px;
    background-color: #DBE4E1;
    border: 0px solid #DBE4E1;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

#createBtn {
    background-color: #56CA39;
    color: white;
}

#downloadBtn {
    background-color: #38A9E9;
    color: white;
}

#svgBtn {
    background-color: white;
    color: #00796B;
    border: 1px solid #00796B;
}

#pdfBtn {
    background-color: white;
    color: #00796B;
    border: 1px solid #00796B;
}

#epsBtn {
    background-color: white;
    color: #00796B;
    border: 1px solid #00796B;
}

.note {
    color: #999999;
}


.colorDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}

.colorDiv input {
    flex-basis: calc(50% - 10px);
    margin-top: 15px;
    margin-right: 2px;
    margin-left: 2px;
}

.colorDiv input:nth-child(2),
.colorDiv input:nth-child(3),
.colorDiv input:nth-child(4),
.colorDiv input:nth-child(5) {
    flex-basis: calc(50% - 10px);
}

.colorDiv input.color {
    flex-basis: calc(100% - 10px);
    margin-right: 0;
}



.contactDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}

.contactDiv div {
    flex-basis: calc(33.33% - 10px);
    margin-top: 15px;
    margin-right: 2px;
    margin-left: 2px;

}





.qrcode {
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}











.footerContent {
    background-color: #F4F4F4;
}


.footerContentBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F4F4F4;

}

.footerContentBox .nameContent {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


.footerContentBox .nameContent p {
    margin-top: .3rem;
}

.footerContentBox .infoLinkBox p:first-child {
    margin-top: 0;
}

.footerContentBox .infoLinkBox p {
    margin-top: .5rem;
    cursor: pointer;
}

.footerContentBox .infoLinkBox p span:hover {
    border-bottom: .1rem solid black;
}



.underfooterContent {
    background-color: #F4F4F4;
}

#underfooterContentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    background-color: #F4F4F4;
    padding: 20px;
}









































@media (max-width: 860px) {
    #imageContainer {
        display: block;
    }

    .container {
        padding: 20px;
    }



    .wrapper .text-input {
        flex-direction: column;
    }

    .text-input .to-text {
        border-left: 0px;
        border-top: 1px solid rgb(5, 5, 5);
    }

    .text-input textarea {
        height: 200px;
    }

    .controls .row .icons {
        display: none;
    }

    .container button {
        padding: 13px;
        font-size: 16px;
    }

    .controls .row select {
        font-size: 16px;
    }

    .controls .exchange {
        font-size: 14px;
    }



    .image-container {
        max-width: 100%;
        height: auto;
    }




    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-brand img {
        width: 50px;
        height: auto;
        margin-left: 10px;
    }

    .logo-title {
        display: block;
        font-size: 20px;
        color: black;
        text-decoration: none;
        padding-left: 10px;
    }


    .navbar-nav {
        display: none;
    }

    .header-title {
        color: rgb(53, 35, 35);
    }

    .header-container {
        width: 70%;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
    }
















    .menu {
        display: none;
    }

    .menu-btn {
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        background-color: #00796B;
        color: white;
    }

    .menu-btn:hover {
        background-color: #004D40;
    }

    .menu-btn .hamburger {
        background-color: white;
    }

    .menu li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .submenu {
        position: static;
        display: block;
        background-color: transparent;
        padding: 0;
    }

    .submenu li {
        margin-left: 15px;
    }

    .submenu li a {
        padding: 0;
        color: #99C9C4;
    }













    .container3 button {
        width: 49%;
        padding: 6px;
        outline: none;
        border: none;
        color: black;
        cursor: pointer;
        margin-top: 20px;
        font-size: 15px;
        border-radius: 5px;
        background: #FFFFFF;
    }


    .phrasebookcontent {
        display: block;
        column-count: 1;
        column-gap: 10px;
        width: 100%;
    }

    .phrasebookcontent p {
        padding: 10px;
        border-bottom: 1px solid #999999;
    }

    .phrasebook-button.selected {
        background-color: #0075FF;
    }

    .submit-btn {
        height: 35px;
        padding: 0 15px;
        background-color: #929292;
        border: 0px solid #929292;
        color: black;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
    }

    #textTranslateBtn {
        background-color: #F4F4F4;
        height: 60px;
        width: 300px;
        margin-bottom: 10px;
    }

    #imgTranslateBtn {
        background-color: #F4F4F4;
        height: 60px;
        width: 300px;
    }



    .historyBtn {
        background-color: #DBE4E1;
        height: 100px;
        width: 110px;
    }

    #savedBtn {
        background-color: #F4F4F4;
        height: 50px;
        width: 110px;
    }













    .menu-btn {
        display: inline-block;
        cursor: pointer;
    }

    .menu-btn .hamburger,
    .menu-btn .hamburger:before,
    .menu-btn .hamburger:after {
        content: '';
        display: block;
        background-color: #000;
        height: 2px;
        width: 25px;
        border-radius: 2px;
        transition: background-color 0.3s ease;
    }

    .hamburger {
        /* margin-right:53px; */
    }

    .menu-btn .hamburger:before {
        margin-top: 6px;
    }

    .menu-btn .hamburger:after {
        margin-top: 6px;
    }

    .menu {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu li {
        text-align: center;
        margin-bottom: 10px;
    }

    #menu-toggle:checked~.menu {
        display: block;
    }












    .container {
        flex-direction: column;
        align-items: center;
    }

    .left-side {
        order: 2;
        width: 100%;
    }

    .right-side {
        order: 1;
        width: 100%;
    }











    .footerContentBox {

        display: block;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: #F4F4F4;
    }

    .footerContent {
        background-color: #F4F4F4;
    }

    .footerContentBox .nameContent {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }


    .footerContentBox .nameContent p {
        margin-top: .3rem;
    }

    .footerContentBox .infoLinkBox p:first-child {
        margin-top: 15px;
    }

    .footerContentBox .infoLinkBox p {
        margin-top: .5rem;
        cursor: pointer;
    }

    .footerContentBox .infoLinkBox p span:hover {
        border-bottom: .1rem solid black;
    }

    .infoLinkBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .infoLinkBox img {
        width: 50px;
        padding-top: 10px;
        padding-bottom: 20px;
    }






    .underfooterContent {
        background-color: #F4F4F4;
    }

    #underfooterContentBox {
        display: block;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        background-color: #F4F4F4;
        padding: 20px;
    }

    .infoLinkBox.right {
        margin-left: 0px;
    }

    .infoLinkBox:not(.right) {
        margin-right: 0px;
    }


}